<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SourceTree.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <section name="slf4net" type="slf4net.Configuration.SlfConfigurationSection, slf4net" /></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <SourceTree.Properties.Settings>
      <setting name="FileStatusFilter" serializeAs="String">
        <value>65278</value>
      </setting>
      <setting name="DiffContext" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DiffWhiteSpaceIgnored" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AlwaysShowFullOutput" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseFixedWidthCommitFont" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PushOnCommit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GitCheckSubmodulesOnCommit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SuppressWarningOnEmptyCommit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SuppressWarningOnAmendCommit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SuppressAddOnCommitWarning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowBookmarks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BookmarksPaneWidth" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="MainWindowWidth" serializeAs="String">
        <value>1200</value>
      </setting>
      <setting name="MainWindowHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="MainWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="GitLogUseAuthorDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogOrdering" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LogIncludeRemoteBranches" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="RefreshOnFileEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GitPushDefault" serializeAs="String">
        <value>deprecated</value>
      </setting>
      <setting name="SuppressWarningOnPushGitSvn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GitPushAllTags" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GitDisableSSLChecks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultProjectFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="GitWhichOne" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="GitFetchPrune" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GitRebaseTrackingBranches" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultRepoType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AllowModifyConfigFiles" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultFullName" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultEmail" serializeAs="String">
        <value />
      </setting>
      <setting name="KeepBackupsOnRevert" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReopenWindowsAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GitGlobalIgnoreFile" serializeAs="String">
        <value />
      </setting>
      <setting name="GitNoFastForward" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastCheckedForUpdates" serializeAs="String">
        <value />
      </setting>
      <setting name="LastOpenTabIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="AnonymousID" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCheckedNews" serializeAs="String">
        <value />
      </setting>
      <setting name="SuppressConflictsWarning" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HgShowMultipleHeadsInSidebar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DiffTool" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="MergeTool" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DiffCustomCmd" serializeAs="String">
        <value />
      </setting>
      <setting name="DiffCustomArgs" serializeAs="String">
        <value />
      </setting>
      <setting name="MergeCustomCmd" serializeAs="String">
        <value />
      </setting>
      <setting name="MergeCustomArgs" serializeAs="String">
        <value />
      </setting>
      <setting name="DiffFontFamily" serializeAs="String">
        <value>Consolas</value>
      </setting>
      <setting name="DiffFontSize" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="DiffFontWeight" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="DiffFontStyle" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="DiffFontStretch" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="DiffSizeLimitText" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="DiffSizeLimitBinary" serializeAs="String">
        <value>10240</value>
      </setting>
      <setting name="GitSystemPath" serializeAs="String">
        <value>C:\Program Files\Git</value>
      </setting>
      <setting name="AgreedToEULA" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FirstLaunch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FileLogWindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="FileLogWindowWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="FileLogWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="BlameWindowWidth" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="BlameWindowHeight" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="BlameWindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="GitUseGitBash" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastTrialReminder" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSSHKeyPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableGravatar" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxFilesToDiff" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="MaxLinesToDiff" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="ShowCommitColumnGuide" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CommitColumnGuideWidth" serializeAs="String">
        <value>72</value>
      </setting>
      <setting name="SSHClientType" serializeAs="String">
        <value>PuTTY</value>
      </setting>
      <setting name="AutoStartSSHAgent" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GitShowMergeCommitFilesBothSides" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyServerMode" serializeAs="String">
        <value>OperatingSystem</value>
      </setting>
      <setting name="ProxyServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProxyBasicAuth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyServerEnabledInGitHg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HgWhichOne" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HgSystemPath" serializeAs="String">
        <value />
      </setting>
      <setting name="EnableGitSupport" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableHgSupport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HgPostPullAction" serializeAs="String">
        <value>Update</value>
      </setting>
      <setting name="HgUseGraft" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HgDisplayMultipleHeads" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HgPullCountCurrentBranch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HgGlobalIgnoreFile" serializeAs="String">
        <value />
      </setting>
      <setting name="FirstLaunchSinceHgAdded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GitCommitMergedChangesImmediately" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckRemoteStatusMinutes" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CheckRemotesAutomatically" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultEncoding" serializeAs="String">
        <value>utf-8</value>
      </setting>
      <setting name="BulkRemoteProjectLinkDone" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ContinueCommittingIfPendingChanges" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainWindowScreenDeviceName" serializeAs="String">
        <value />
      </setting>
      <setting name="Language" serializeAs="String">
        <value />
      </setting>
      <setting name="AnalyticsHasAgreed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnalyticsDisplayOptIn" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AnalyticsLastInteractionsDataWrittenDate" serializeAs="String">
        <value />
      </setting>
      <setting name="DiffConvertTabsToSpaces" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DiffConvertTabsToSpacesCount" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SpellCheckCommits" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OfferToCreateBookmarks" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpellCheckLanguage" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="FileStatusStagingViewMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FileStatusViewMode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ShowFileStatusViewOptionsTip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileStatusSort" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="FileStatusDoubleClickBehaviour" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CommitPaneHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StashRestLimit" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="EnableTreeViewFileListOption" serializeAs="String">
        <value>True</value>
      </setting>
    </SourceTree.Properties.Settings>
  </userSettings>
  <system.diagnostics>
    <switches>
      <add name="SourceTree.TraceSwitch" value="4" />
    </switches>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<slf4net>
    <factory type="slf4net.log4net.Log4netLoggerFactory, slf4net.log4net">
      <factory-data>
        <configFile value="log4net.config" />
        <watch value="true" />
      </factory-data>
    </factory>
  </slf4net></configuration>
